.socialMediaButtonContainer {
    display: flex;
    flex-direction: column;
}

.socialMediaButton {
    margin: 8px auto;
    width: 204px;
    height: 48px;
    background-color: #ffffff;
    border: 2px solid #021D27;
}