.contact-me-container {
    display: none;
}

@media screen and (min-width: 993px) {
    .contact-me-container {
        display: block;
        width: 472px;
        max-width: 60%;
        margin: 40px 32px;
        height: auto;
        background-color: #fff;
        border: 3px solid #021D27;
        box-shadow: -16px 16px 5px rgba(0, 0, 0, 0.2);
        flex-grow: 2;
    }

    .contact-me-header {
        font-family: 'KreonRegular', Cambria, 'Times New Roman', serif;
        text-align: center;
        font-size: 28pt;
        margin-top: 16px;
    }

    .contact-me-container-text {
        font-family: 'MontserratAlternatesLight', 'Franklin Gothic Medium', sans-serif;
        display: inline-block;
        width: 100%;
        padding: 8px;
        text-align: center;
    }

    .cursor-image {
        width: 84px;
        height: 84px;
        transform: rotate(130deg);
        float: right;
        margin-right: 40px;
    }

}
