html, body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, rgba(96, 210, 203, 1), 
    rgba(96, 210, 203, 0.295),
    rgba(96, 210, 203, 0.055),
    rgba(96, 210, 203, 0) );
    overflow-x: hidden;
}

.contact-page {
    display: flex;
    justify-content: space-evenly;
}

.shooting-stars-image {
    display: none;
}

