/*Social Media Container*/
.socialMediaContainer {
    position: relative;
    background-color: #fff;
    margin: 24px auto;
    width: 288px;
    height: auto;
    padding-bottom: 24px;
    border: 3px solid #021D27;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*Profile Picture*/
.contactPic {
    display: block;
    margin: 32px auto 8px;
    width: 144px;
    height: 144px;
    border: 3px solid #021D27;
    border-radius: 50%;
}

/*Social Media Container Text*/
.socials-header {
    display: none;
    font-family: 'KreonRegular', Cambria, 'Times New Roman', serif;
}

.connectText {
    width: 208px;
    height: 50px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
    font-family: 'MontserratAlternatesLight', 'Franklin Gothic Medium', sans-serif;
    font-size: 16px;
}

/*Social Media Decor*/
.star-decor-right {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 48px;
    top: 32px;
    transform: scaleX(-1);
}

.star-decor-left {
    position: absolute;
    width: 64px;
    height: 56px;
    left: 24px;
    top: 132px;
}

.multiple-stars-right {
    display: none;
}

/*----------Social Media Container Tablet & Desktop Styling---------------*/
@media screen and (min-width: 768px) {
    .socialMediaContainer {
        box-shadow: -16px 16px 5px rgba(0, 0, 0, 0.2);
    }

    .socials-header {
        display: inline;
    }

    .connectText {
        display: inline-block;
        width: 304px;
        height: 64px;
    }

}

/*----------Social Media Container Tablet Specific Styling---------------*/
@media screen and (min-width: 768px) {
    .socialMediaContainer {
        width: 512px;
    }

    .contactPic {
        display: inline-block;
        position: relative;
        border: 5px solid #021D27;
        margin: 16px;
        top: 24px;
        left: 24px;
    }

    .connectText {
        position: absolute;
        padding: 0;
        margin: 16px;
        top: 90px;
        left: 168px;
    }

    .socials-header {
        position: absolute;
        top: 56px;
        right: 104px;
    }

    .connectText span::after {
        content: " Always working on new projects, sharing pics, tips, memes, and cute stuff!";
    }

    .star-decor-right {
        display: none;
    }

    .star-decor-left {
        top: 164px;
    }

    .multiple-stars-right {
        display: inline-block;
        position: absolute;
        width: 82px;
        height: 82px;
        right: 8px;
        bottom: 208px;
    }
}

/*----------Social Media Container Desktop Styling
@media screen and (min-width: 993px) {
    .socialMediaContainer {
        width: 400px;
        margin: 40px 32px;
        height: 560px;
    }

    .socials-header {
        display: block;
        text-align: center;
        font-size: 28pt;
        margin-top: 16px;
    }

    .connectText {
        display: block;
        text-align: center;
        width: 304px;
        height: 80px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .connectText span::after {
        content: " Always working on new projects, sharing pics, tips, memes, and cute stuff!";
    }

    .contactPic, .star-decor-right, .star-decor-left {
        display: none;
    }
}
---------------*/