/*Reset Styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
  }

@font-face {
    font-family: "KreonLight";
    src: local("KreonLight"),
    url("../src/assets/fonts/Kreon-Light.ttf")
    format("truetype");
}

@font-face {
    font-family: "KreonRegular";
    src: local("KreonRegular"),
    url("../src/assets/fonts/Kreon-Regular.ttf")
    format("truetype");
}

@font-face {
    font-family: "KreonMedium";
    src: local("KreonMedium"),
    url("../src/assets/fonts/Kreon-Medium.ttf")
    format("truetype");
}


@font-face {
    font-family: "MontserratAlternatesLight";
    src: local("MontserratAlternatesLight"),
    url("../src/assets/fonts/MontserratAlternates-Light.ttf")
    format("truetype");
}

@font-face {
    font-family: "MontserratAlternatesMedium";
    src: local("MontserratAlternatesMedium"),
    url("../src/assets/fonts/MontserratAlternates-Medium.ttf")
    format("truetype");
}

@font-face {
    font-family: "MontserratAlternatesBold";
    src: local("MontserratAlternatesBold"),
        url("../src/assets/fonts/MontserratAlternates-Bold.ttf")
        format("truetype");
    font-weight: bold;
}