/*Nav Bar Container Styling*/
.nav-bar {
    height: 88px;
    width: 100%;
    border-bottom: 1px solid #72767C;
    box-shadow: -0 2px 5px rgba(0, 0, 0, 0.2);
}

/*Nav Bar Logo*/
.mobile-logo {
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-left: 48px;
}

/*Nav Bar Menu*/
.nav-menu {
    display: none;
}